* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box-shadow {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.wrapper {
    margin: 0 auto;
    max-width: 960px;
}

.flex {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
}

.top {
    height: 1px;
    width: 100%;
    padding: 25px;
    background-color: #39930d;
}

.main-text {
    color: #c0c0c0;
    flex-wrap: wrap;
    max-width: 300px;
}

h1,
h2,
h3 {
    font-family: Arial;
    text-align: center;
}

h3 {
    flex-wrap: wrap;
    max-width: 300px;
}

.title {
    display: block;
    padding: 40px 0 60px;
}

footer{
    background-color: #39930d;
    padding: 50px;
}